.contact-section {
  background-color: #444;
}

.contact-section p {
  font-size: 1.2em;
}

.contact-section form {
  width: 700px;
  max-width: 100%;
  margin-top: 50px;
}

.contact-section form input,
.contact-section form textarea {
  background: transparent;
  color: #FFF;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
}

.contact-section form input:focus,
.contact-section form textarea:focus {
  box-shadow: 0 4px 2px -1px rgba(108, 12, 78, 0.25);
}

.contact-section .invalid-feedback {
  display: inherit;
  color: #fb85a6;
}

.contact-section .button-container {
  margin-top: 50px;
}