<h1 class="page-title">
  <mat-icon>attach_file</mat-icon>
  Arquivo -
  <span class="subtitle">Cadastrar Arquivo
  </span>
</h1>

<form #form="ngForm" (ngSubmit)="salvar()" novalidate>
  <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between start" fxLayoutWrap>
    <mat-form-field fxFlex>
      <input matInput class="form-control" name="nome" #nome="ngModel" [(ngModel)]="arquivo.nome" placeholder="Nome" required>
      <mat-error [hidden]="!nome.hasError('required') || (nome.pristine && !nome.touched && !form.submitted)">
        O campo "Nome" é obrigatório
      </mat-error>
    </mat-form-field>
    <app-custom-file-upload fxFlex [model]="arquivo" [modelFileProperty]="'caminhoArquivo'" [modelFileNameProperty]="'nomeArquivo'" [required]="true" [form]="form" [file]="file"></app-custom-file-upload>
    <mat-form-field fxFlex="100">
      <textarea matInput name="descricao" #descricao="ngModel" [(ngModel)]="arquivo.descricao" placeholder="Descrição" required></textarea>
      <mat-error [hidden]="!descricao.hasError('required') || (descricao.pristine && !descricao.touched && !form.submitted)">
        O campo "Descrição" é obrigatório
      </mat-error>
    </mat-form-field>
  </div>

  <div class="buttons-container layout-margin" fxLayoutAlign="end center">
    <button mat-button mat-raised-button type="submit" color="primary">
      <mat-icon>save</mat-icon>
      Salvar
    </button>
    <button mat-button type="button" (click)="cancelar()">
      <mat-icon>cancel</mat-icon>
      Cancelar
    </button>
  </div>
</form>