<section class="section versions-section">
  <div class="container versions">
    <h1 class="section-title text-center">Novidades Sobre as Versões</h1>
    <div class="version row" *ngFor="let versao of versoes">
      <div class="text-center col-12 col-md-4">
        <span>{{versao.dataPublicacao | date: 'dd/MM/yyyy'}}</span>
        <h1>{{versao.numeroVersao}}</h1>
        <span class="separator primary"></span>
      </div>
      <p class="col-12 col-md-8" [innerHTML]="versao.descricao"></p>
    </div>
    <div class="d-flex justify-content-center">
      <a [routerLink]="['/versoes']" class="btn btn-accent">
        <span class="fa fa-plus-square-o"></span> Ver Mais
      </a>
    </div>
  </div>
</section>