/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-size: 14px;
  font-family: 'effraregular';
  background: linear-gradient(-45deg, rgb(7, 58, 88), rgba(38, 103, 158, 0.83));
}

a {
  text-decoration: none;
}

app-root,
md-sidenav-layout,
.app-content,
.app-layout-container {
  height: 100%;
  display: block;
}

.main-content {
  padding: 0 30px 5px 20px;
  overflow: auto;
  border-radius: 5px 5px 0 0;
  background-color: #FFF;
  overflow-y: overlay;
  border-top: 10px solid #FFF;
  border-right: 5px solid #FFF;
  box-shadow: 0px -17px 15px -15px #0000001c, -17px 0px 15px -15px #0000001c;
  margin-left: 10px;
}

.main-content.public {
  border-radius: 0;
  border: none;
  background: transparent;
}

.main-content::-webkit-scrollbar {
  width: .8em;
}

.main-content::-webkit-scrollbar-thumb {
  background-color: #0000005e;
  outline: 1px solid slategrey;
  border-radius: 5px;
}

.fixed-content {
  height: 100%;
  overflow: hidden;
}

.text-center {
  text-align: center;
}

.mat-form-field {
  padding: 2px;
}

.mat-form-field h4 {
  margin-top: 0;
  font-weight: 100;
  color: rgba(0, 0, 0, 0.54);
}

body .mat-button,
body .mat-raised-button,
body .mat-icon-button,
body .mat-fab,
body .mat-mini-fab {
  font-weight: 400;
  text-transform: uppercase;
}

body .layout-margin>* {
  margin: 0 2px;
}
body .layout-margin>*:first-child {
  margin-left: 0;
}
body .layout-margin>*:last-child {
  margin-right: 0;
}

body .block {
  display: block;
}

body *[hidden] {
  display: none;
}

.page-title {
  font-weight: 100;
}

*[class*='custom-snack-bar'] button::before {
  content: '\E5CD';
  font-family: 'Material Icons';
  color: #FFF;
  font-size: 1.5em;
  line-height: 10px;
  vertical-align: middle;
}

*[class*='custom-snack-bar'] .mat-simple-snackbar::before {
  font-family: 'Material Icons';
  padding-right: 15px;
  margin-left: -5px;
  font-size: 1.5em;
  line-height: 20px;
  vertical-align: middle;
}

.custom-snack-bar-success .mat-simple-snackbar::before {
  content: '\E24E';
}

.custom-snack-bar-info .mat-simple-snackbar::before {
  content: '\E88F';
}

.custom-snack-bar-danger .mat-simple-snackbar::before {
  content: '\E001';
}

.custom-snack-bar-warn .mat-simple-snackbar::before {
  content: '\E002';
}

body .custom-snack-bar-success {
  background-color: #549467;
}
body .custom-snack-bar-info {
  background-color: #5383a3;
}
body .custom-snack-bar-danger {
  background-color: #ac5353;
}
body .custom-snack-bar-warn {
  background-color: #b78722;
}

.buttons-container {
  margin: 15px 0;
}

.slider-wrapper {
  margin-top: 10px;
}

.slider-wrapper label {
  display: block;
  padding-left: 3px;
  color: rgba(0, 0, 0, 0.7);
  transform: perspective(100px);
  -ms-transform: none;
  transform-origin: 0 0;
}

.slider-wrapper .mat-slider-horizontal {
  width: 100%;
}

.mat-button.mat-success, .mat-icon-button.mat-success {
  color: #32a05a;
}

.slide-toggle-container, .checkbox-container {
  margin: 16px 0;
  padding: 2px;
}

.radio-group-container {
  padding: 2px;
}

.radio-group-container h4 {
  margin: 10px 0;
  color: rgba(0, 0, 0, 0.7);
}

.radio-group-container .mat-radio-button {
  padding: 5px 15px;
}
.radio-group-container .mat-radio-button:first-child {
  padding-left: 0;
}
.radio-group-container .mat-radio-button:last-child {
  padding-right: 0;
}

.radio-group-container .mat-error,
.custom-error {
  font-size: 75%;
}

.no-overflow {
  overflow: hidden;
}

.inline-button {
  display: inline-block;
}

.fake-fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.custom-input-hidden {
  padding-top: 0;
}

.custom-input-hidden .mat-form-field-infix {
	border: 0;
	padding: 0;
}

.custom-input-hidden .mat-input-wrapper {
	height: 0;
}

@media screen and (max-width: 600px) {
  .radio-group-container .mat-radio-button {
    padding-left: 0;
    padding-right: 0;
  }
  body .layout-margin>* {
    margin: 2px;
  }
}