/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-size: 14px;
  font-family: 'Roboto';
  background: linear-gradient(rgba(181, 12, 131, 0.5), rgba(175, 0, 0, 0.5)), #585b5e;
}

a {
  text-decoration: none;
}

app-root,
md-sidenav-layout,
.app-content,
.app-layout-container {
  height: 100%;
  display: block;
}

.main-content {
  padding: 0 30px 5px 20px;
  overflow: auto;
  border-radius: 5px 5px 0 0;
  background-color: #FFF;
  overflow-y: overlay;
  border-top: 10px solid #FFF;
  border-right: 5px solid #FFF;
}

.main-content.public {
  border-radius: 0;
  border: none;
  background: linear-gradient(rgba(181, 12, 131, 0.5), rgba(175, 0, 0, 0.5));
}

.main-content::-webkit-scrollbar {
  width: .8em;
}

.main-content::-webkit-scrollbar-thumb {
  background-color: #0000005e;
  outline: 1px solid slategrey;
  border-radius: 5px;
}

.fixed-content {
  height: 100%;
  overflow: hidden;
}

.text-center {
  text-align: center;
}

.mat-form-field {
  padding: 2px;
}


/* .custom-table .mat-header-row {
  align-items: flex-end;
  border-bottom: none;
}
.custom-table .mat-header-row, .custom-table .mat-row {
  padding: 0;
}
.custom-table .mat-header-cell {
  font-size: 1.3em;
  color: #6b2e76;
  font-weight: 600;
  text-align: center;
  border-bottom: 1.5px solid #6b2e76;
  margin-right: 5px;
}
.custom-table .mat-cell, .custom-table .mat-header-cell {
  padding: 0 24px;
} */

.custom-table .mat-cell.mat-column-selection {
  width: 70px;
  flex: none;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 40px;
  padding: 0 10px;
}

.custom-table .mat-cell.mat-column-selection .mat-checkbox {
  height: 40px;
}

.custom-table .mat-header-cell.mat-column-selection {
  width: 70px;
  padding: 0 10px;
  flex: none;
  text-align: center;
}

.custom-table .mat-cell.mat-column-actions {
  display: flex;
  justify-content: center;
  flex: none;
  width: 100px;
  padding: 0 10px;
}

.custom-table .mat-header-cell.mat-column-actions {
  width: 100px;
  padding: 0 10px;
  flex: none;
}

.custom-table .mat-sort-header-container:hover .mat-sort-header-button::after {
  content: '\E164';
  font-family: 'Material Icons';
  opacity: .5;
  font-size: 1.5em;
  padding-left: 5px;
}

.custom-table .mat-sort-header-sorted .mat-sort-header-container:hover .mat-sort-header-button::after {
  content: none;
}

body .mat-button,
body .mat-raised-button,
body .mat-icon-button,
body .mat-fab,
body .mat-mini-fab {
  font-weight: 400;
  text-transform: uppercase;
}

body .layout-margin>* {
  margin: 0 2px;
}
body .layout-margin>*:first-child {
  margin-left: 0;
}
body .layout-margin>*:last-child {
  margin-right: 0;
}

body .block {
  display: block;
}

body *[hidden] {
  display: none;
}

.page-title {
  font-weight: 100;
}

*[class*='custom-snack-bar'] button::before {
  content: '\E5CD';
  font-family: 'Material Icons';
  color: #FFF;
  font-size: 1.5em;
  line-height: 10px;
  vertical-align: middle;
}

*[class*='custom-snack-bar'] .mat-simple-snackbar::before {
  font-family: 'Material Icons';
  padding-right: 15px;
  margin-left: -5px;
  font-size: 1.5em;
  line-height: 20px;
  vertical-align: middle;
}

.custom-snack-bar-success .mat-simple-snackbar::before {
  content: '\E24E';
}

.custom-snack-bar-info .mat-simple-snackbar::before {
  content: '\E88F';
}

.custom-snack-bar-danger .mat-simple-snackbar::before {
  content: '\E001';
}

.custom-snack-bar-warn .mat-simple-snackbar::before {
  content: '\E002';
}

body .custom-snack-bar-success {
  background-color: #549467;
}
body .custom-snack-bar-info {
  background-color: #5383a3;
}
body .custom-snack-bar-danger {
  background-color: #ac5353;
}
body .custom-snack-bar-warn {
  background-color: #b78722;
}

.buttons-container {
  margin: 15px 0;
}

.slider-wrapper {
  margin-top: 10px;
}

.slider-wrapper label {
  display: block;
  padding-left: 3px;
  color: rgba(0, 0, 0, 0.7);
  transform: perspective(100px);
  -ms-transform: none;
  transform-origin: 0 0;
}

.slider-wrapper .mat-slider-horizontal {
  width: 100%;
}