<div class="sidenav-container" [ngClass]="{'opened': opened}" fxLayout="column" fxFlexAlign="space-bewteen center">
  <button class="toggle-menu-button" [ngClass]="{'opened': opened}" (click)="toggleMenu()">
    <div id="nav-icon">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </button>
  <nav fxFlex>
    <ul class="sidenav-menu">
      <li *ngFor="let menu of menuItems.menus" [ngClass]="{ 'active': path == menu.path }">
        <a [routerLink]="['/' + menuItems.name + '/' + menu.path]">
          <mat-icon>{{ menu.icon }}</mat-icon>
          <span>{{ menu.label }}</span>
        </a>
      </li>
    </ul>
  </nav>
  <span class="sidenav-footer">
    feito com
    <mat-icon>favorite_border</mat-icon> pela Fencom - 2017
  </span>
</div>