<div class="sidenav-container" fxLayout="column" fxFlexAlign="space-bewteen center">
  <nav fxFlex>
    <ul class="sidenav-menu">
      <li>
        <a [routerLink]="['/versoes']">
          <mat-icon>new_releases</mat-icon>
          <span>Versões</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/membro']">
          <mat-icon>face</mat-icon>
          <span>Membros</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/homologacao']">
          <mat-icon>face</mat-icon>
          <span>Homologações</span>
        </a>
      </li>
    </ul>
  </nav>
  <span class="sidenav-footer">
    feito com <mat-icon>favorite_border</mat-icon> pela Fencom - 2017
  </span>
</div>