<div class="sidenav-container" [ngClass]="{'opened': opened}" fxLayout="column" fxFlexAlign="space-bewteen center">
  <button class="toggle-menu-button" [ngClass]="{'opened': opened}" (click)="toggleMenu()">
    <div id="nav-icon">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </button>
  <nav fxFlex>
    <ul class="sidenav-menu">
      <li *ngFor="let menuItem of menuItems.menus" [ngClass]="{ 'active': path == menuItem.path }">
        <a [routerLink]="['/' + menuItems.name + '/' + menuItem.path]">
          <mat-icon>{{ menuItem.icon }}</mat-icon>
          <span>{{ menuItem.name }}</span>
        </a>
      </li>
      <!-- <li [ngClass]="{ 'active': path == 'versoes' }">
        <a [routerLink]="['/versoes']">
          <mat-icon>new_releases</mat-icon>
          <span>Versões</span>
        </a>
      </li>
      <li [ngClass]="{ 'active': path == 'membro' }">
        <a [routerLink]="['/membro']">
          <mat-icon>face</mat-icon>
          <span>Membros</span>
        </a>
      </li>
      <li [ngClass]="{ 'active': path == 'homologacao' }">
        <a [routerLink]="['/homologacao']">
          <mat-icon>backup</mat-icon>
          <span>Homologações</span>
        </a>
      </li>
      <li [ngClass]="{ 'active': path == 'apresentacao-site' }">
        <a [routerLink]="['/apresentacao-site']">
          <mat-icon>format_color_text</mat-icon>
          <span>Apresentação do Site</span>
        </a>
      </li>
      <li [ngClass]="{ 'active': path == 'sobre' }">
        <a [routerLink]="['/sobre']">
          <mat-icon>format_color_text</mat-icon>
          <span>Sobre o Portal</span>
        </a>
      </li>
      <li [ngClass]="{ 'active': path == 'banner' }">
        <a [routerLink]="['/banner']">
          <mat-icon>photo_size_select_actual</mat-icon>
          <span>Banneres</span>
        </a>
      </li>
      <li [ngClass]="{ 'active': path == 'item-progresso' }">
        <a [routerLink]="['/item-progresso']">
          <mat-icon>format_list_bulleted</mat-icon>
          <span>Item de Progresso</span>
        </a>
      </li>
      <li [ngClass]="{ 'active': path == 'wiki' }">
        <a [routerLink]="['/wiki']">
          <mat-icon>language</mat-icon>
          <span>Wiki</span>
        </a>
      </li>
      <li [ngClass]="{ 'active': path == 'arquivo' }">
        <a [routerLink]="['/arquivo']">
          <mat-icon>attach_file</mat-icon>
          <span>Arquivo</span>
        </a>
      </li>
      <li [ngClass]="{ 'active': path == 'teste' }">
        <a [routerLink]="['/teste']">
          <mat-icon>done</mat-icon>
          <span>Teste</span>
        </a>
      </li>
      <li [ngClass]="{ 'active': path == 'action' }">
        <a [routerLink]="['/action']">
          <mat-icon>done</mat-icon>
          <span>Ação</span>
        </a>
      </li>
      <li [ngClass]="{ 'active': path == 'module' }">
        <a [routerLink]="['/module']">
          <mat-icon>done</mat-icon>
          <span>Módulo</span>
        </a>
      </li>
      <li [ngClass]="{ 'active': path == 'permission' }">
        <a [routerLink]="['/permission']">
          <mat-icon>done</mat-icon>
          <span>Permissão</span>
        </a>
      </li> -->
    </ul>
  </nav>
  <span class="sidenav-footer">
    feito com
    <mat-icon>favorite_border</mat-icon> pela Fencom - 2017
  </span>
</div>