<div [hidden]="!hasFilter">
  <div *ngIf="!lazy" fxLayoutAlign="center center" fxLayoutWrap>
    <mat-form-field floatPlaceholder="never" fxFlex="50" fxFlex.xs="100">
      <input matInput #filter (keyup)="applyFilter($event.target.value)" placeholder="{{filterPlaceholder}}">
    </mat-form-field>
    <div fxLayout="row" fxLayoutAlign="center center" class="layout-margin">
      <button mat-icon-button color="secondary" type="button" (click)="clearFilter()" matTooltip="Limpar">
        <mat-icon aria-label="Limpar filtro">clear</mat-icon>
      </button>
    </div>
    <div fxFlex="100" fxLayoutAlign="center center">
      <button mat-button color="accent" type="button" (click)="goCreate()">
        <mat-icon>insert_drive_file</mat-icon>
        Novo
      </button>
    </div>
    <!-- TODO: fazer filtro de itens selecionados -->
  </div>

  <form *ngIf="lazy" #form="ngForm" (ngSubmit)="doFilter()" novalidate>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between start" fxLayoutWrap>
      <ng-container *ngFor="let field of columns">
        <ng-container *ngIf="field.filter != false && field.type" [ngSwitch]="field.type">
          <mat-form-field fxFlex *ngSwitchCase="'textarea'">
            <input matInput name="{{ field.columnDef }}" [(ngModel)]="model[field.columnDef]" placeholder="{{ field.header }}">
          </mat-form-field>
          <mat-form-field fxFlex *ngSwitchCase="'text'">
            <input matInput name="{{ field.columnDef }}" [(ngModel)]="model[field.columnDef]" placeholder="{{ field.header }}">
          </mat-form-field>
          <mat-form-field fxFlex *ngSwitchCase="'switch'">
            <mat-select [(ngModel)]="model[field.columnDef]" name="{{ field.columnDef }}" placeholder="{{ field.header }}">
              <mat-option [value]=""></mat-option>
              <mat-option [value]="true">
                Sim
              </mat-option>
              <mat-option [value]="false">
                Não
              </mat-option>
            </mat-select>
          </mat-form-field>
          <!-- <mat-card fxFlex class="slide-toggle-container" *ngSwitchCase="'switch'">
            <mat-slide-toggle name="{{ field.columnDef }}" [(ngModel)]="model[field.columnDef]">
              {{ field.header }}
            </mat-slide-toggle>
          </mat-card> -->
        </ng-container>
        <mat-form-field fxFlex *ngIf="field.filter != false && !field.type">
          <input matInput name="{{ field.columnDef }}" [(ngModel)]="model[field.columnDef]" placeholder="{{ field.header }}">
        </mat-form-field>
      </ng-container>
      <mat-form-field fxFlex *ngIf="logicalExclusion">
        <mat-select [(ngModel)]="model.ativo" name="ativo" placeholder="Filtrar Ativos">
          <mat-option [value]="">
            Todos
          </mat-option>
          <mat-option [value]="true">
            Ativos
          </mat-option>
          <mat-option [value]="false">
            Inativos
          </mat-option>
        </mat-select>
      </mat-form-field>
      <ng-container [ngTemplateOutlet]="filtersRef" [ngTemplateOutletContext]="{ model: model }">
      </ng-container>
    </div>

    <div fxLayout="row" fxLayoutAlign="center center" class="layout-margin">
      <button mat-raised-button color="primary" type="submit">
        <mat-icon>filter_list</mat-icon>
        Filtrar
      </button>
      <button mat-button color="accent" type="button" (click)="goCreate()">
        <mat-icon>insert_drive_file</mat-icon>
        Novo
      </button>
      <button mat-button color="secondary" type="button" (click)="clearFilter()">
        <mat-icon>clear</mat-icon>
        Limpar
      </button>
    </div>
  </form>


</div>

<mat-table #table class="dense custom-table" [dataSource]="dataSource" matSort matSortActive="id" matSortDisableClear matSortDirection="asc">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Selection column -->
  <ng-container matColumnDef="selection">
    <mat-header-cell *matHeaderCellDef> Selecionar </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <mat-checkbox (change)="changeSelection(row._id)" [checked]="selectionData.indexOf(row._id) > -1"></mat-checkbox>
    </mat-cell>
  </ng-container>

  <!-- Actions column -->
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef class="text-center"> Ações </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <button mat-icon-button type="button" color="primary" *ngIf="actions.u" (click)="goEdit(row)" matTooltip="Editar">
        <mat-icon aria-label="Editar">edit</mat-icon>
      </button>
      <ng-container *ngIf="actions.d">
        <button mat-icon-button type="button" color="warn" *ngIf="!logicalExclusion" (click)="confirmDelete(row)" matTooltip="Excluir">
          <mat-icon aria-label="Excluir">delete</mat-icon>
        </button>
        <button mat-icon-button type="button" color="warn" *ngIf="logicalExclusion && row.ativo" (click)="confirmDelete(row)" matTooltip="Inativar">
          <mat-icon aria-label="Inativar">block</mat-icon>
        </button>
        <button mat-icon-button type="button" color="success" *ngIf="logicalExclusion && !row.ativo" (click)="confirmDelete(row)" matTooltip="Ativar">
          <mat-icon aria-label="Ativar">done</mat-icon>
        </button>
      </ng-container>
      <ng-container [ngTemplateOutlet]="buttonsRef" [ngTemplateOutletContext]="{ row: row }">
      </ng-container>
    </mat-cell>
  </ng-container>

  <!-- Columns -->
  <ng-container *ngFor="let column of columns" matColumnDef="{{ column.columnDef }}">
    <mat-header-cell *matHeaderCellDef mat-sort-header>{{ column.header }}</mat-header-cell>
    <ng-container *ngIf="column.escapeHtml">
      <mat-cell *matCellDef="let row" [innerHTML]="column.cell(row)"></mat-cell>
    </ng-container>
    <ng-container *ngIf="!column.escapeHtml">
      <mat-cell *matCellDef="let row">
        {{ column.cell(row) }}
      </mat-cell>
    </ng-container>
  </ng-container>

  <!-- <ng-template [ngTemplateOutlet]="templateRefColumns" [ngTemplateOutletContext]="{model: model}">
  </ng-template> -->

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<mat-paginator [hidden]="!hasPaginator" #paginator [length]="database.data.length || resultsLength" [pageIndex]="0" [pageSize]="5"
  [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>