.table-scroll {
  max-width: 100%;
  overflow-x: auto;
}

.custom-table /deep/ .mat-cell.mat-column-selection {
  width: 70px;
  flex: none;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 40px;
  padding: 0 10px;
}

.custom-table /deep/ .mat-cell.mat-column-selection .mat-checkbox {
  height: 40px;
}

.custom-table /deep/ .mat-header-cell.mat-column-selection {
  width: 70px;
  padding: 0 10px;
  flex: none;
  text-align: center;
}

.custom-table /deep/ .mat-cell.mat-column-actions {
  display: flex;
  justify-content: center;
  flex: none;
  padding: 0 10px;
  min-width: 40px;
}

.custom-table /deep/ .mat-header-cell.mat-column-actions {
  flex: none;
  min-width: 40px;
  padding: 0 10px;
}

.custom-table /deep/ .mat-cell.mat-column-actions.actions-cell-2,
.custom-table /deep/ .mat-header-cell.mat-column-actions.actions-header-2 {
  min-width: 80px;
}

.custom-table /deep/ .mat-cell.mat-column-actions.actions-cell-3,
.custom-table /deep/ .mat-header-cell.mat-column-actions.actions-header-3 {
  min-width: 120px;
}

.custom-table /deep/ .mat-cell.mat-column-actions.actions-cell-4,
.custom-table /deep/ .mat-header-cell.mat-column-actions.actions-header-4 {
  min-width: 160px;
}

.custom-table /deep/ .mat-sort-header-container:hover .mat-sort-header-button {
  position: relative;
}

.custom-table /deep/ .mat-sort-header-container:hover .mat-sort-header-button::after {
  content: '\E164';
  font-family: 'Material Icons';
  opacity: .5;
  font-size: 1.5em;
  padding-left: 5px;
  position: absolute;
  right: -23px;
  top: -2px;
}

.custom-table /deep/ .mat-sort-header-sorted .mat-sort-header-container:hover .mat-sort-header-button::after {
  content: none;
}

.custom-table /deep/ .mat-cell, .custom-table /deep/ .mat-header-cell {
  max-height: 100px;
}

.custom-table /deep/ .mat-header-cell {
  padding: 0 5px;
}
.custom-table /deep/ .mat-cell {
  padding: 5px;
}

.selection-container {
  max-height: 280px;
  margin-right: 10px;
  overflow: auto;
}

.preview-container {
  max-height: 280px;
  overflow: auto;
  padding-left: 10px;
}

.preview-container, .selection-container {
  background: #f1f1f1;
  padding: 10px 15px;
}

.selection-container .mat-row, .selection-container .mat-header-row {
  background: #f1f1f1;
}

.selecteds-title {
  font: 500 20px/26px Roboto;
  margin: 5px 0 15px;
}

.selection-container /deep/ .mat-cell.mat-column-selection,
.selection-container /deep/ .mat-header-cell.mat-column-selection {
  width: 40px;
}

.selection-container /deep/ .mat-header-row,
.selection-container /deep/ .mat-row {
  padding-left: 0;
}

.selection-container /deep/ .mat-paginator-container {
  background-color: #f1f1f1;
}

@media screen and (max-width: 599px) {
  .selection-container {
    margin-right: 0;
    margin-bottom: 20px;
  }
}