/* .custom-table /deep/ .mat-header-row {
  align-items: flex-end;
  border-bottom: none;
}
.custom-table /deep/ .mat-header-row, .custom-table /deep/ .mat-row {
  padding: 0;
}
.custom-table /deep/ .mat-header-cell {
  font-size: 1.3em;
  color: #6b2e76;
  font-weight: 600;
  text-align: center;
  border-bottom: 1.5px solid #6b2e76;
  margin-right: 5px;
}
.custom-table /deep/ .mat-cell, .custom-table /deep/ .mat-header-cell {
  padding: 0 24px;
} */
.table-scroll {
  max-width: 100%;
  overflow-x: auto;
}

.custom-table /deep/ .mat-cell.mat-column-selection {
  width: 70px;
  flex: none;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 40px;
  padding: 0 10px;
}

.custom-table /deep/ .mat-cell.mat-column-selection .mat-checkbox {
  height: 40px;
}

.custom-table /deep/ .mat-header-cell.mat-column-selection {
  width: 70px;
  padding: 0 10px;
  flex: none;
  text-align: center;
}

.custom-table /deep/ .mat-cell.mat-column-actions {
  display: flex;
  justify-content: center;
  flex: none;
  padding: 0 10px;
  min-width: 120px;
}

.custom-table /deep/ .mat-header-cell.mat-column-actions {
  flex: none;
  min-width: 120px;
  padding: 0 10px;
}

.custom-table /deep/ .mat-sort-header-container:hover .mat-sort-header-button {
  position: relative;
}

.custom-table /deep/ .mat-sort-header-container:hover .mat-sort-header-button::after {
  content: '\E164';
  font-family: 'Material Icons';
  opacity: .5;
  font-size: 1.5em;
  padding-left: 5px;
  position: absolute;
  right: -23px;
  top: -2px;
}

.custom-table /deep/ .mat-sort-header-sorted .mat-sort-header-container:hover .mat-sort-header-button::after {
  content: none;
}

.custom-table /deep/ .mat-cell, .custom-table /deep/ .mat-header-cell {
  max-height: 100px;
}

.custom-table /deep/ .mat-header-cell {
  padding: 0 5px;
}
.custom-table /deep/ .mat-cell {
  padding: 5px;
}

.selection-container {
  max-height: 280px;
  margin-right: 10px;
  overflow: auto;
}

.preview-container {
  max-height: 280px;
  overflow: auto;
  padding-left: 10px;
}

.preview-container, .selection-container {
  background: #f1f1f1;
  padding: 10px 15px;
}

.selection-container .mat-row, .selection-container .mat-header-row {
  background: #f1f1f1;
}

.selecteds-title {
  font: 500 20px/26px Roboto;
  margin: 5px 0 15px;
}