<h1 class="page-title">
  <mat-icon>vpn_key</mat-icon>
  Permissões
</h1>

<app-generic-datatable [columns]="displayedColumns" [database]="database" [resource]="'permission'" [lazy]="true" [hasFilter]="true"
  [actions]="{'u': true, 'c': true, 'v': true}" [logicalExclusion]="true" (changeRecordState)="mudarAtivacaoPermission($event[0], $event[1])">
  <ng-template let-model="model" #filtersRef>
    <div fxFlex="100" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between start" fxLayoutAlign.xs="space-between stretch" fxLayoutWrap>

      <app-select-entity-field fxFlex [fieldLabel]="'Ação'" [entityName]="'action'" [entityMainProperty]="'actionName'"
        [model]="model" [modelEntityProperty]="'action'" [lazyFetch]="false" [displayedColumns]="actionSelectionColumns" [multiple]="false"></app-select-entity-field>
      <app-select-entity-field fxFlex [fieldLabel]="'Módulo'" [entityName]="'module'" [entityMainProperty]="'moduleName'"
        [model]="model" [modelEntityProperty]="'module'" [lazyFetch]="false" [displayedColumns]="moduleSelectionColumns" [multiple]="false"></app-select-entity-field>
    </div>
  </ng-template>
</app-generic-datatable>