<div fxLayoutAlign="space-between center">
  <h1 class="page-title">
    <mat-icon>done</mat-icon>
    Ações
  </h1>
  <mat-form-field>
    <mat-select [(ngModel)]="filtrarAtivos" name="filtrarAtivos" placeholder="Filtrar Ativos" (selectionChange)="buscarActiones()">
      <mat-option [value]="">
        Todos
      </mat-option>
      <mat-option [value]="true">
        Ativos
      </mat-option>
      <mat-option [value]="false">
        Inativos
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<app-generic-datatable [columns]="displayedColumns" [database]="database" [resource]="'action'" [lazy]="false" [hasFilter]="true"
  [actions]="{'u': true, 'c': true, 'v': true}" [logicalExclusion]="true" (changeRecordState)="mudarAtivacaoAction($event[0], $event[1])">
</app-generic-datatable>