<h1 class="page-title" fxLayoutAlign="space-between center" fxLayout.xs="column">
  <span>
    <mat-icon>vpn_key</mat-icon>
    Permissões -
    <span class="subtitle">
      {{ permission._id ? 'Editar' : 'Cadastrar' }} Permissão
    </span>
  </span>
  <mat-card>
    <mat-slide-toggle name="ativo" [(ngModel)]="permission.ativo" [disabled]="disabled">
      Ativo
    </mat-slide-toggle>
  </mat-card>
</h1>

<form #form="ngForm" (ngSubmit)="salvar()" novalidate>
  <fieldset class="fake-fieldset" [disabled]="disabled">
    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between start" fxLayoutAlign.xs="space-between stretch" fxLayoutWrap>
      <app-select-entity-field [hidden]="!isEditing" fxFlex [form]="form" [fieldLabel]="'Ação'" [required]="isEditing" [entityName]="'action'"
        [entityMainProperty]="'actionName'" [lazyFetch]="false" [model]="permission" [modelEntityProperty]="'action'" [displayedColumns]="actionSelectionColumns"
        [multiple]="false"></app-select-entity-field>
      <app-select-entity-field [hidden]="isEditing" fxFlex [form]="form" [fieldLabel]="'Ação'" [required]="!isEditing" [entityName]="'action'"
        [entityMainProperty]="'actionName'" [lazyFetch]="false" [model]="permission" [modelEntityProperty]="'actions'" [displayedColumns]="actionSelectionColumns"
        [multiple]="true"></app-select-entity-field>
      <app-select-entity-field fxFlex [form]="form" [fieldLabel]="'Módulo'" [required]="true" [entityName]="'module'" [entityMainProperty]="'moduleName'"
        [model]="permission" [modelEntityProperty]="'module'" [lazyFetch]="false" [displayedColumns]="moduleSelectionColumns" [multiple]="false"></app-select-entity-field>
    </div>
  </fieldset>
  <div class="buttons-container layout-margin" fxLayoutAlign="end center" fxLayoutAlign.xs="center">
    <button *ngIf="!disabled" mat-button mat-raised-button type="submit" color="primary">
      <mat-icon>save</mat-icon>
      Salvar
    </button>
    <button *ngIf="!disabled" mat-button type="button" (click)="cancelar()">
      <mat-icon>cancel</mat-icon>
      Cancelar
    </button>
    <button *ngIf="disabled" mat-button type="button" (click)="cancelar()">
      <mat-icon>arrow_back</mat-icon>
      Voltar
    </button>
  </div>
</form>