<div class="header-container" fxLayout="column">
  <div class="header-actions">
    <span>SASC - bem vindo de volta!</span>
    <div class="header-icons">
      <button mat-icon-button>
        <mat-icon>notifications_none</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>help_outline</mat-icon>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="userMenu" matTooltip="Usuário">
        <mat-icon>account_circle</mat-icon>
      </button>
    </div>
    <mat-menu #userMenu="matMenu">
      <button mat-menu-item [routerLink]="['/administracao/user/info']">
        <mat-icon>person_outline</mat-icon> Usuário
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>power_settings_new</mat-icon> Logout
      </button>
    </mat-menu>
  </div>
  <nav>
    <ul class="header-menu">
      <li>
        <a *ngFor="let section of sections" (click)="loadMenu(section.name)">
          {{ section.label }}
        </a>
      </li>
    </ul>
  </nav>
</div>