<h1 class="page-title">
  <mat-icon>view_module</mat-icon>
  Módulos
</h1>

<app-generic-datatable [columns]="displayedColumns" [database]="database" [resource]="'module'" [lazy]="true" [hasFilter]="true"
  [actions]="{'u': true, 'c': true, 'v': true}" [logicalExclusion]="true" (changeRecordState)="mudarAtivacaoModule($event[0], $event[1])">
  <ng-template let-model="model" #filtersRef>
    <div fxFlex="100" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between start" fxLayoutAlign.xs="space-between stretch" fxLayoutWrap>

    </div>
  </ng-template>
</app-generic-datatable>