.checkbox-multiple-container {
  padding: 2px;
  position: relative;
  margin-bottom: 4px;
  padding-bottom: 1.25em;
}

.checkbox-multiple-container h4 {
  margin: 10px 0;
  color: rgba(0, 0, 0, 0.7);
}

.checkbox-multiple-container .mat-checkbox {
  padding: 5px 15px;
}
.checkbox-multiple-container .mat-checkbox:first-child {
  padding-left: 0;
}
.checkbox-multiple-container .mat-checkbox:last-child {
  padding-right: 0;
}

.checkbox-multiple-container .mat-error {
  font-size: 75%;
  position: absolute;
  width: 100%;
  overflow: hidden;
  margin-top: 0.54166667em;
  top: calc(100% - 1.66666667em);
}

@media screen and (max-width: 600px) {
  .checkbox-multiple-container .mat-checkbox {
    padding-left: 0;
    padding-right: 0;
  }
}