<div fxLayoutAlign="center center" class="register-container">
  <div fxFlex="30" fxFlex.sm="50" fxFlex.xs="100" class="register-box">
    <h1 class="page-title">
      <mat-icon>person_add</mat-icon>
      Registrar
    </h1>

    <form #form="ngForm" (ngSubmit)="register()" novalidate>
      <div fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutWrap>
        <mat-form-field fxFlex>
          <input matInput name="firstName" #firstName="ngModel" [(ngModel)]="model.firstName" placeholder="Nome" required>
          <mat-error [hidden]="!firstName.hasError('required') || (firstName.pristine && !firstName.touched && !form.submitted)">
            O campo "Nome" é obrigatório
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex>
          <input matInput name="lastName" #lastName="ngModel" [(ngModel)]="model.lastName" placeholder="Sobrenome" required>
          <mat-error [hidden]="!lastName.hasError('required') || (lastName.pristine && !lastName.touched && !form.submitted)">
            O campo "Sobrenome" é obrigatório
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex>
          <input matInput name="username" #username="ngModel" [(ngModel)]="model.username" placeholder="Usuário" required>
          <mat-error [hidden]="!username.hasError('required') || (username.pristine && !username.touched && !form.submitted)">
            O campo "Usuário" é obrigatório
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex>
          <input matInput name="email" type="email" #email="ngModel" [(ngModel)]="model.email" placeholder="Email" required>
          <mat-error [hidden]="!email.hasError('required') || (email.pristine && !email.touched && !form.submitted)">
            O campo "Email" é obrigatório
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex>
          <input matInput name="password" type="password" #password="ngModel" [(ngModel)]="model.password" placeholder="Senha" required>
          <mat-error [hidden]="!password.hasError('required') || (password.pristine && !password.touched && !form.submitted)">
            O campo "Senha" é obrigatório
          </mat-error>
        </mat-form-field>
        <div class="buttons-container layout-margin" fxLayoutAlign="end center">
          <button mat-button mat-raised-button type="submit" color="primary">
            <mat-icon>save</mat-icon>
            Enviar
          </button>
          <button mat-button type="button" [routerLink]="['/login']" color="accent">
            <mat-icon>cancel</mat-icon>
            Cancelar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>