<div fxLayoutAlign="center center" class="login-container">
  <div fxFlex="30" fxFlex.sm="50" fxFlex.xs="100" class="login-box">
    <h1 class="page-title">
      <mat-icon>person_outline</mat-icon>
      Login
    </h1>

    <form #form="ngForm" (ngSubmit)="login()" novalidate>
      <div fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutWrap>
        <mat-form-field fxFlex>
          <input matInput name="username" #username="ngModel" [(ngModel)]="model.username" placeholder="Usuário" required>
          <mat-error [hidden]="!username.hasError('required') || (username.pristine && !username.touched && !form.submitted)">
            O campo "Usuário" é obrigatório
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex>
          <input matInput type="password" name="password" #password="ngModel" [(ngModel)]="model.password" placeholder="Senha" required>
          <mat-error [hidden]="!password.hasError('required') || (password.pristine && !password.touched && !form.submitted)">
            O campo "Senha" é obrigatório
          </mat-error>
        </mat-form-field>

        <div class="buttons-container layout-margin" fxLayoutAlign="end center">
          <button mat-button mat-raised-button type="submit" color="primary">
            <mat-icon>exit_to_app</mat-icon>
            Login
          </button>
          <button mat-button type="button" [routerLink]="['/register']" color="accent">
            <mat-icon>person_add</mat-icon>
            Registrar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>