<h1 class="page-title" ><mat-icon>done</mat-icon>Banner -
  <span class="subtitle">
    {{ banner._id ? 'Editar' : 'Cadastrar' }} Banner
  </span></h1>

<form #form="ngForm" (ngSubmit)="salvar()" novalidate>
  <fieldset class="fake-fieldset" [disabled]="disabled">
    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between start" fxLayoutAlign.xs="space-between stretch" fxLayoutWrap>
      <app-image-preview fxFlex="100" [model]="banner" [modelFileProperty]="'imagem'" [image]="banner.imagem?.file" [form]="form" [fieldLabel]="'Imagem'" [required]="true"></app-image-preview>
      <mat-form-field fxFlex>
        <input matInput name="tituloL1" #tituloL1="ngModel" [(ngModel)]="banner.tituloL1" placeholder="Título (1ª Linha)" required>
        <mat-error [hidden]="!tituloL1.hasError('required') || (tituloL1.pristine && !tituloL1.touched && !form.submitted)">
          O campo "Título (1ª Linha)" é obrigatório
        </mat-error>
      </mat-form-field>
      <mat-form-field fxFlex>
        <input matInput name="tituloL2" [(ngModel)]="banner.tituloL2" placeholder="Título (2ª Linha)">
      </mat-form-field>
      <mat-form-field fxFlex>
        <input matInput name="texto" #texto="ngModel" [(ngModel)]="banner.texto" placeholder="Texto">
      </mat-form-field>
      <div class="buttons-container layout-margin" fxLayoutAlign="center center" fxFlex="100">
        <button mat-button type="button" color="primary" (click)="abrirDialogBotao()">
          <mat-icon>add_circle_outline</mat-icon>
          Adicionar Botão
        </button>
      </div>
      <app-generic-datatable fxFlex="100" [columns]="displayedBotoesColumns" [database]="databaseBotoes" [lazy]="false" [hasFilter]="false"
        [hasPaginator]="false" [actions]="{'u': true, 'd': true}" [customEdit]="true" (editRecord)="abrirDialogBotao($event)"
        (deleteRecord)="removerBotao($event[0])">
        <ng-template #templateRefColumns>
          <ng-container matColumnDef="cor">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Cor </mat-header-cell>
            <mat-cell *matCellDef="let row">
              {{row['cor']}}
            </mat-cell>
          </ng-container>
        </ng-template>
      </app-generic-datatable>
    </div>
  </fieldset>
  <div class="buttons-container layout-margin" fxLayoutAlign="end center" fxLayoutAlign.xs="center">
    <button *ngIf="!disabled" mat-button mat-raised-button type="submit" color="primary">
      <mat-icon>save</mat-icon>
      Salvar
    </button>
    <button *ngIf="!disabled" mat-button type="button" (click)="cancelar()">
      <mat-icon>cancel</mat-icon>
      Cancelar
    </button>
    <button *ngIf="disabled" mat-button type="button" (click)="cancelar()">
      <mat-icon>arrow_back</mat-icon>
      Voltar
    </button>
  </div>
</form>