<div class="image-preview-container" fxLayoutWrap>
  <div class="image-preview" #imagePreview fxFlex="100" fxLayoutAlign="center center"></div>
  <div fxFlex="100" fxLayoutWrap>
    <label for="imagem" class="upload-label" fxFlex="100">
      <a mat-button type="button" color="accent" class="block">
        <mat-icon>file_upload</mat-icon>
        Inserir Imagem
      </a>
    </label>
    <input type="file" [hidden]="true" id="imagem" name="imagem" (change)="onFileChange($event)" #fileInput>
    <button mat-button fxFlex="100" type="button" (click)="clearFile()" [hidden]="imagePreview.innerHTML == ''">
      <mat-icon>clear</mat-icon>
      Limpar
    </button>
  </div>
</div>